@import "../../StyleVariables.scss";

.user-wrapper {
    color: var(--light-text-color);
    font-size: 4em;
    font-weight: 100;
    .welcome-name {
        font-size: calc(25px + 10 * (100vw - 320px) / 880);
    }
}
