@import "../../StyleVariables.scss";

.user-wrapper {
    color: var(--light-text-color);
    display: flex;
    align-items: center;
    .welcome-name {
        font-weight: 200;
        font-size: 2.5rem;
        margin: 0 15px;
        @media screen and (max-width: 550px) {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}
