.weather-wrapper {
    min-width: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    .weather-city-name {
        text-align: left;
    }
    .temp-box {
        display: flex;
        align-items: center;
        height: 20px;
        img {
            height: 40px;
        }
    }
}
