.user-photo-wrapper {
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    img {
        border-radius: 50px;
        margin-right: 5px;
        width: 60px;
        height: 60px;
    }

    .arrow-icon-style {
        width: 15px;
        background-image: url("../../../assets/arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        transition: rotate 300ms ease-in-out;
        &.rotate {
            rotate: 180deg;
        }
    }
    .custom-user-image {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
}
