@import "../../StyleVariables.scss";

.favorite-link-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin: 15px 25px;
    .link-input-wrapper {
        display: flex;
        .link-input {
            @include input-styles;
            margin-right: 25px;
            margin-bottom: 5px;
        }
        .add-link-button {
            height: 55px;
        }
        .disabled {
            pointer-events: none;
        }
    }
    .links-box {
        display: flex;
        gap: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 32px 10px 0;
        .open-add-link-button {
            background-color: transparent;
            border: none;
            font-size: 25px;
            transition: transform 300ms ease-in-out;
            &:hover {
                transform: rotate(180deg);
            }
        }
        .link-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: all 300ms ease-in-out;
            a {
                display: flex;
                align-items: center;
                color: var(--light-text-color);
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;

                img {
                    width: 23px;
                    border-radius: 50%;
                    filter: grayscale(100%) contrast(200%);
                    margin-right: 7px;
                    opacity: 0.5;
                    transition: all 300ms ease-in-out;
                }
            }
            &:hover {
                transform: scale(1.02);
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                padding: 0 15px;
                @media screen and (max-width: 800px) {
                    transform: scale(1);
                    background-color: rgba(0, 0, 0, 0);
                    border-radius: 0px;
                }
                &:hover img {
                    filter: grayscale(0%) contrast(100%);
                    opacity: 1;
                }
            }
        }
    }
    .error {
        text-align: left;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 300;
        padding-left: 15px;
    }
}
.remove-link-button {
    background: transparent;
    border: none;
    font-size: large;
}
