@import "../../StyleVariables.scss";

.records-wrapper {
    padding: 0 25px;

    .search-input {
        @include input-styles;
    }
    .options {
        width: 100%;
        margin-bottom: 15px;
    }
    .input-box {
        position: relative;
        padding: 0 7.5px;
        .input-records {
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid var(--light-color);
            background: transparent;
            margin-bottom: 25px;
            font-size: 18px;
            color: var(--light-text-color);
            padding: 15px 60px 15px 0;
            &::placeholder {
                color: var(--light-text-color);
                opacity: 0.5;
            }
        }
        .set-item {
            position: absolute;
            top: 13px;
            right: 25px;
            border-radius: 50px;
            height: 30px;
            width: 30px;
            padding: 0;
        }
        .sort-button {
            cursor: pointer;
            margin: 0 0 15px 18px;
            text-align: left;
        }
    }
    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    .records {
        margin-bottom: 25px;
        .button-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .remove-record-text,
            .check-record-text,
            .edit-record-text {
                background-color: transparent;
                border-radius: 50px;
                padding: 0;
                border: 0px;
                margin-right: 5px;
                .button-content-wrapper {
                    .button-icon {
                        margin-right: 0;
                    }
                }
            }
            .remove-record-text {
                margin-right: 0px;
            }
        }
        .disabled {
            pointer-events: none;
        }
        .record {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--light-text-color);
            border-bottom: 1px solid var(--light-color);
            transition: all 100ms ease-in-out;
            width: 100%;
            margin-bottom: 15px;
            padding: 10px 15px;
            .record-text {
                margin-right: 10px;
                overflow-x: auto;
                text-align: left;
                .record-timestamp {
                    font-weight: 200;
                    font-size: 14px;
                }
            }
            &:hover {
                transform: scale(1.02);
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                @media screen and (max-width: 800px) {
                    transform: scale(1);
                    background-color: rgba(0, 0, 0, 0);
                    border-radius: 0px;
                }
            }
            .edit-input {
                width: 100%;
                background-color: transparent;
                border: none;
                font-size: 16px;
                color: var(--light-text-color);
                &:focus {
                    outline: none;
                }
            }
        }
        .record-done {
            position: relative;
            text-decoration: line-through;
            color: var(--light-text-color);
            .record-text {
                opacity: 0.4;
            }
        }
    }
}
