@import "../../StyleVariables.scss";

.records-wrapper {
    .input-box {
        position: relative;
        padding: 0 7.5px;
        .input-records {
            width: calc(100% - 35px);
            outline: none;
            border: none;
            border-bottom: 1px solid var(--light-text-color);
            background: transparent;
            margin-bottom: 25px;
            font-size: 18px;
            color: var(--light-text-color);
            padding: 20px 40px 0 0;
            &::placeholder {
                color: rgba($color: #fff, $alpha: 0.5);
            }
        }
        .set-item {
            position: absolute;
            top: 13px;
            right: 25px;
            border-radius: 50px;
            height: 30px;
            width: 30px;
            padding: 0;
        }
        .sort-button {
            cursor: pointer;
        }
    }
    .records {
        margin-bottom: 25px;
        padding: 0 15px;
        .button-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 10px;
            .remove-record-text,
            .check-record-text {
                background-color: transparent;
                border-radius: 50px;
                padding: 0;
                margin-right: 10px;
                border: 0px;
                .button-content-wrapper {
                    .button-icon {
                        margin-right: 0;
                    }
                }
            }
            .remove-record-text {
                margin-right: 0px;
            }
        }
        .disabled {
            pointer-events: none;
        }
        .record {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 10px 10px 10px;
            color: var(--light-text-color);
            border-bottom: 1px solid var(--light-text-color);
            transition: all 100ms ease-in-out;
            .record-text {
                margin-right: 10px;
                overflow-x: auto;
                text-align: left;
                .record-timestamp {
                    font-weight: 200;
                    font-size: 14px;
                    text-decoration: underline;
                }
            }
            &:hover {
                transform: scale(1.05);
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                padding: 0 10px;
            }
        }
        .record-done {
            text-decoration: line-through;
            color: rgba($color: #fff, $alpha: 0.3);
        }
    }
    .disabled {
        pointer-events: none;
    }
    .options {
        padding: 10px 25px 0 25px;
        width: 100%;
    }
}
