@import "../../StyleVariables.scss";
.dd-menu-wrapper {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1;
}
.menu-hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    top: 100px;
    background-color: var(--dark-color);
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    backdrop-filter: blur(30px);
    box-shadow: 0px 20px 30px rgba($color: #000000, $alpha: 0.3);
    z-index: 2;
    width: 0;
    overflow: hidden;
    transition: all 200ms ease-out; /* Define transition properties */
    position: absolute;
    right: -1px;
    @media screen and (max-width: 800px) {
        height: calc(100vh - 120px);
        overflow-y: auto;
        justify-content: start;
        z-index: 4;
    }
    .menu-wrapper {
        margin: 30px;
        .user-email,
        .user-name {
            color: var(--light-text-color);
        }
        .user-name {
            font-size: 18px;
        }
        .user-email {
            margin-bottom: 20px;
        }
        button {
            margin-bottom: 15px;
            width: 100%;
        }
    }
}

.menu-visible {
    width: 300px; /* Set the width of the open menu */
    transition: all 200ms ease-in-out; /* Define transition properties */
    right: 20px;
}
.dd-menu-wrapper-visible {
    width: 100%;
    height: 100vh;
}
