.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 45px;
    background-color: var(--dark-color);
    backdrop-filter: blur(30px);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.05);
    transition: all 0.1s ease-in-out;
    &.no-blur {
        backdrop-filter: blur(0);
        border-bottom: 0px solid rgba($color: #000000, $alpha: 0.1);
        box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0);
        background-color: transparent;
    }
}
