.blur-slider {
    width: 200px;
    background: var(--dark-color);
    outline: none;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    &::-webkit-slider-thumb {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--light-color);
        cursor: pointer;
    }
    &::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--light-color);
        cursor: pointer;
    }
}
