.blur-button-on-off {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding: 0;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .button-icon {
        margin-right: 0 !important;
    }
}
