#select-label {
    color: var(--light-text-color);
}
.MuiMenu-paper {
    border-radius: 15px !important;
    margin-top: 10px;
}
.MuiOutlinedInput-input {
    color: var(--light-text-color) !important;
}
