.add-link-wrapper {
    width: 100%;
    .top-section-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
        width: 100%;
        .input-links {
            min-width: 200px;
            max-width: 600px;
            width: 100%;
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            margin-right: 20px;
            &:focus {
                outline: none;
            }
        }
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
    .gallery-image-wrapper {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        max-width: calc(200px * 5 + 1%);
        margin: auto;
        .gallery-image-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            margin: auto;
            &:hover > .gallery-image {
                cursor: pointer;
                scale: 1.1;
                z-index: 9;
                box-shadow: 0 20px 30px rgba($color: #000000, $alpha: 0.2);
                ~ .remove-link {
                    opacity: 1;
                }
            }
            .gallery-image {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 5px;
                border: 1px solid var(--dark-color);
                transition: all 0.3s;
            }
        }
    }
    .add-more-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .load-more-btn {
            margin: auto;
        }
    }
}

.remove-link {
    cursor: pointer;
    font-size: 30px;
    color: var(--light-text-color);
}
